html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.li-name, .li-email, .li-phone {
  min-width: 100px;
  padding: 0 30px;
}

.submit-btn-div {
  text-align: center;
}

.submit-btn {
  width: 100px;
}

.jumbotron {
  background: #337ab7;
  color: #fff;
}
